@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: #DCDDE0;
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #114e5e;
  --color-primary-content: #fff;
  --color-secondary: #F8F9FC;
  --color-secondary-content: #4A5568;
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #4A5568;
  --color-neutral-content: #fafafa;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #5CB85C;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #F0AD4E;
  --color-warning-content: #fff;
  --color-error: #BB2124;
  --color-error-content: #fff;
  --radius-selector: 0.3rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.2rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
  --menu-active-bg: #114e5e;
}
:root{
  --dp-border-radius: 10px!important;
}
html{
  scrollbar-color: #AEAEAF #F8F9FC!important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh!important;
  font-family:
    Inter,
    Kantumruy Pro,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.dp__theme_light {
  --dp-primary-color: #114e5e!important;
}

